.ForgotPassword input:focus {
  color: var(--color-black) !important;
}
.ForgotPassword form button {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.ForgotPassword form button:hover {
  color: var(--color-white);
  background-color: #e91a25;
}

.ForgotPassword .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid red;
  padding: 10px;
}
