.AdminHome {
  margin-top: 30px;
}
.AdminHome .card {
  background-color: var(--color-white);
  min-height: 300px;
  width: 200px;
  color: var(--color-black);
  margin: 20px 30px;
}
.AdminHome .card a {
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
}

.AdminHome .card a:hover {
  background-color: var(--color-primary-shady);
  border: none;
}

.AdminHome .card div {
  border: 8px solid var(--color-other) !important;
  font-size: 40px;
  color: var(--color-primary);
  height: 100px;
  width: 100px;
}
